* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}

.hero {
    
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    background-image: url(https://i.pinimg.com/originals/79/a3/84/79a384c3c449ad01b0e57e790807b2c0.gif);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70%;
    color: #fff;
    padding: 0 8%;
    
    

}

h1 {
    padding-top: 170px;
    margin-bottom: 25px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.5rem;
    color: lightgray;
    
}   

.Portf-button {
    color:rgb(165, 144, 22);
    margin-top: 25px;
}

p {
    color: darksalmon;
    font-family: 'Kaisei HarunoUmi', serif;
}

.hero2{
    color: rgb(155, 199, 228);
    font-size: 25px;
    padding-top: 25px;
    font-family: 'Poppins', sans-serif;;
}





